errors
export
latexml
content
*.pdflog
*.vrb
*.rel
*.nav
*.snm
*.sms
*.omdoc
*.pdf
*.errlog
*.bbl
*.blg
*.tmp
*.out
*.synctex.gz
*.run.xml
*.thm
*.bak
*.idx
*.ind
*.ilg
*.log
*.toc
*.aux
localpaths.tex
_region_.tex
comment.cut
auto
all.tex
all.*.tex
.!*.tex
*.clog
.DS_Store
